<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="jsonFilePath" value="C:\Users\Paulo_PC\source\repos\Making Sense\Consola\RentaCar\RentaCar\Cars.json"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>